<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.titulo}}
  </h3>
  <ion-col col-3 style="margin-left: 30%" >
    <img [src]="selectedItem.caminhoFoto" />
  </ion-col>

  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.titulo}}</b>
  </h4>
</ion-content>