<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.titulo}}
  </h3>
  <ion-col col-3 style="margin-left: 30%" >
    <img [src]="selectedItem.caminhoFoto" />
  </ion-col>

  <h4 text-center *ngIf="selectedItem">
    <b>{{ quiz.questao }}</b>
  </h4>

  <ion-row>
    <ion-col col-6 text-center>
      <h1><b>{{ quiz.tituloA }}</b></h1>
    </ion-col>
    <ion-col col-6 text-center>
      <h1><b>{{ quiz.tituloB }}</b></h1>
    </ion-col>
  </ion-row>
  <ion-row>  
    <ion-col col-1></ion-col>
    <ion-col col-4 (click)="responder(quiz.num, quiz.tituloA)">    
      <img [src]="quiz.imgA"/>
    </ion-col>
    <ion-col col-2></ion-col>
    <ion-col col-4 (click)="responder(quiz.num, quiz.tituloB)">
      <img [src]="quiz.imgB"/>
    </ion-col>
  </ion-row>

</ion-content>